:root {
  --branding-color: #6f67f8;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero h1 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 96px;
}
h2 {
  font-family: var(--default-font-family);
  font-size: 64px;
  font-weight: bold;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}
.btn-branding {
  border-radius: 4px;
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.spacer {
  text-align: center;
}
.btn-learn-more {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: var(--heading-font-family);
}
.about-section p {
  line-height: 30px;
}